[Unit]
Description=UiTdatabank search API consume related queue
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
User=www-data
Group=www-data
PIDFile=/var/run/udb3-consume-related.pid
WorkingDirectory=/var/www/udb3-search-service
ExecStart=/usr/bin/php bin/app.php consume-udb3-related
Restart=on-failure
RestartSec=10s
Type=simple

[Install]
WantedBy=multi-user.target
