parameters:
	level: 8
	parallel:
		maximumNumberOfProcesses: 1
	paths:
		- app
		- src
		- tests
	excludePaths:
		- app/RoutingServiceProvider.php
	ignoreErrors:
		-
			identifier: missingType.iterableValue
